
{% if message.user_id != g.user.id%}
    {% if message not in g.user.liked_messages%}
    <form class="form-group" action="/messages/{{message.id}}/like" method="POST" >
    {{g.like_form.hidden_tag()}}
    <button type="submit" class="btn btn-link form-control"><i class="far fa-heart"></i></button>
    </form>

    {% else %}
    <form class="form-group" action="/messages/{{message.id}}/unlike" method="POST" >
    {{g.like_form.hidden_tag()}}
    <button type="submit" class="btn btn-link form-control"><i class="fas fa-heart"></i></button>
    </form>
    {% endif %}
{% endif %}
