
{% if message.user_id != g.user.id%}
    {% if message not in g.liked_messages%}
    <form class="form-group not-liked" id="{{message.id}}">
    {{g.like_form.hidden_tag()}}
    <button type="submit" class="btn btn-link form-control"><i class="far fa-heart"></i></button>
    </form>

    {% else %}
    <form class="form-group liked" id="{{message.id}}">
    {{g.like_form.hidden_tag()}}
    <button type="submit" class="btn btn-link form-control"><i class="fas fa-heart"></i></button>
    </form>
    {% endif %}
{% endif %}
