
<div class="col-lg-4 col-md-6 col-12">
    <div class="card user-card">
        <div class="card-inner">
        <div class="image-wrapper">
            <img src="{{ u.header_image_url }}" alt="" class="card-hero">
        </div>

        <div class="card-contents">
            <a href="/users/{{ u.id }}" class="card-link">
            <img
                src="{{ u.image_url }}"
                alt="Image for {{ u.username }}"
                class="card-image">
            <p>@{{ u.username }}</p>
            </a>

            {% if g.user.is_following(u) %}
            <form method="POST"
                    action="/users/stop-following/{{ u.id }}">
                <button class="btn btn-primary btn-sm">Unfollow</button>
            </form>
            {% else %}
            <form method="POST" action="/users/follow/{{ u.id }}">
                <button class="btn btn-outline-primary btn-sm">Follow</button>
            </form>
            {% endif %}

        </div>

        <p class="card-bio">{{u.bio}}</p>
        </div>
    </div>
    </div>
